# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core file
# you can delete this whole section/until Configuration.
/app/public/wp-admin/
/app/public/wp-content/index.php
/app/public/wp-content/languages
/app/public/wp-includes/
/app/public/index.php
/app/public/license.txt
/app/public/readme.html
/app/public/wp-*.php
/app/public/xmlrpc.php
/app/public/local-xdebuginfo.php/
/conf/
/logs/


# Configuration files
/app/public/wp-config.php

# Example themes
/app/public/wp-content/themes/twentytwentyfive/
/app/public/wp-content/themes/twentytwentyfour/
/app/public/wp-content/themes/twentytwentythree/
/app/public/wp-content/themes/index.php/

# Example plugin
/app/public/wp-content/plugins/

# Uploads
/app/public/wp-content/uploads/

# Log files
*.log

# htaccess
/app/public/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes